.ul {
  background-color: #4834d4;
  padding: 20px;
  height: 5rem;
}

.ul li {
  display: inline;
}

li a {
  text-decoration: none;
  font-size: 24px;
  padding: 8px;
  color: #f3ebeb;
  text-shadow: 0 2px 3px #706767;
}

li a:hover {
  color: #ffff;
  font-weight: bold;
}
