.btn {
  float: right;
  color: #fbfbfb;
  background-color: #1f1b1b;
  border: 2px solid #fdfbfb;
  font-size: 1.2rem;
  padding: 6px 10px;
  border-radius: 5px;
  outline: none;
}

.btn:hover {
  color: #1f1b1b;
  background-color: #fbfbfb;
  cursor: pointer;
}
