.btn {
  position: absolute;
  right: 0;
  color: #fbfbfb;
  background-color: #686de0;
  border: 2px solid #fdfbfb;
  font-size: 1.2rem;
  padding: 6px 10px;
  border-radius: 5px;
  outline: none;
  font-weight: bold;
  margin-right: 1rem;
}

.btn:hover {
  color: #1f1b1b;
  background-color: #fbfbfb;
  cursor: pointer;
}

.icon {
  margin-right: 0.8rem;
  font-size: 1.2rem;
  margin-bottom: -3px;
}
